[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-playwright = "*"
pytest-xdist = "*"
pytest = "*"
pylint = "*"
pytest-html = "*"

[dev-packages]

[scripts]
install-playwright-dependencies = "playwright install --with-deps"
e2e-tests = "pytest --numprocesses auto"
e2e-tests-with-reports = "pytest --numprocesses auto --junit-xml test-report/report.xml --html test-report/report.html"
e2e-tests-headed = "pytest --headed --numprocesses auto"
e2e-tests-all-browsers = "pytest --browser webkit --browser firefox --numprocesses auto"
lint = "pylint tests"
