[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-playwright = "*"
pytest-xdist = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
install-playwright-dependencies = "python -m playwright install --with-deps"
e2e-tests = "pytest --numprocesses auto"
e2e-tests-headed = "pytest --headed --numprocesses auto"
e2e-tests-all-browsers = "pytest --headed --numprocesses auto"